extends ../layout

block content
    h1 Edit Question
    if flash
        div(class="alert alert-#{flash.role}",role='alert') #{flash.message}
    form(method='POST' action='/edit/question')
        .form-group
            label.bmd-label-floating(for='question') Enter a Question
            input.form-control#question(type='text', name='question', required='', value="#{question.question}")
        .form-group
            label.bmd-label-floating(for='answer') Enter Answer
            input.form-control#answer(type='text', name='answer', required='', value="#{question.answer}")
        .form-group
            label.bmd-label-floating(for='distractors') Enter Distractors (if any)
            input.form-control#distractors(type='text', name='distractors', value="#{question.distractors}")
        input(type='hidden', name='id', value="#{question.id}")
        .form-group
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Submit
